{% extends 'base.html'%}

{% block content %}
<div class="text-center">
    <h1>Django - CRM - Management System</h1>
    <br>
    <h5 style="text-transform: capitalize;"><b>Keep track of your records and remember no bain no gain</b></h5>
    <hr style="border: 1px solid crimson; margin: 30px 150px;">

    {% if user.is_authenticated %}
    <a href="{% url 'dashboard'%}" class="btn btn-outline-primary">My Dashboard</a>
    {% else %}
    <a href="{% url 'register'%}" class="btn btn-outline-primary">Register</a>
    {% endif %}

</div>
{% endblock %}